/**
 *Compound Interest Calculator CSS File
 *author(Joshua Thomas)
 *date(13.01.2022)
 *version:1.0
*/

/* Main content */
body{
    background: linear-gradient(to left, #d7d2cc, white);
}

h1, h3{
    text-align:center;
    font-family:Tahoma, sans-serif;
}

h3{
    margin:-5px;
}

.principle-input, .interest-input, .duration-input, .yearly-contributions-input, .monthly-contributions-input, .daily-contributions-input{
    margin:15px;
    font-size:16px;
    outline:none;
    border-radius:2px;
    font-family:Tahoma, sans-serif;
}

.principle-input{
    margin-left: 50px;
}

.interest-input{
    margin-left: 23px;
}

.duration-input{
    margin-left: 49px;
}

.yearly-contributions-input{
    margin-left: 29px;
}

.monthly-contributions-input{
    margin-left: 15.5px;
}

.daily-contributions-input{
    margin-left: 36.5px;
}



.output-area{
    margin:5px 30px;
    font-size:25px;
    border-radius:2px;
    width:330px;
    height:53px;
}

.btn, .download-btn{
    width:195px;
    margin:7px 100px;
    background:#52c234;
    color:white;
    opacity:80%;
    font-size:30px;
    border:none;
    border-radius:10px;
    box-shadow:3px 3px 10px black;
}

.download-btn{
    margin:45px 574px;
    height:70px;
}

.download-btn:hover{
    opacity:100%;
    cursor:pointer;
}

.btn:hover{
    opacity:100%;
    cursor:pointer;
}

.text-1, .text-2, .text-3, .text-4{
    margin:6px;
    font-family:Tahoma, sans-serif;
}

.container{
    width:400px;
    height:340px;



    margin:45px 475px;
    border-radius:10px;
    box-shadow: 8px 8px 30px black;

    /*width:250px;
    height:310px; */
    
}

/*Theme Toggle feature*/
.mode{
    float:left;
}

.change{
    width:100px;
    border:1px solid black;
    border-radius:35%;
    font-size: 30px;
    cursor: pointer;

}

/* Dark mode settings */
.dark-mode-background{
    background: rgb(80, 80, 80);
    color:white;
    
}

.hover-link-dark{
    color:white;
}

.light-dark-btn{
    width:195px;
    margin:0px 0px;
    background:#52c234;
    color:white;
    opacity:80%;
    font-size:30px;
    border:none;
    border-radius:10px;
    box-shadow:3px 3px 10px black;
}

.light-dark-btn:hover{
    opacity:100%;
    cursor:pointer;
}

/* Navagation Bar */

header{
    display:flex;
    padding:12px 12px;
    justify-content: center;
}

a{
    text-decoration:none;
    color:rgb(29, 29, 29);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    opacity:75%;
}

.main-nav{
    list-style: none;
    float:left;
    width:15em;
}

.active{
    color:#52c234;
    opacity: 100%;
    
}

.hover-link:hover{
    opacity: 100%;
}

/* RESPONSIVE DESIGN FOR MOBILE AND TABLET */

/* Nest Hub */
 

